.languages-container {
  position: relative;
  background-color: #212121;

}

/* Zone du titre */
.languages-tab {
  padding: 40px;
}

.languages-title {
  text-align: center;
  font-size: 70px;
  color: #FFA07A;
  transform: rotate(-4deg);
  
}

/* Conteneur pour les subtabs : occupe toute la largeur et masque l'excédent */
.subtabs-container {
  position: relative;
  width: 100%;
  overflow: auto;  /* Permet de faire défiler les subtabs sans les masquer */
  display: flex;
  flex-direction: column;  /* Aligne les subtabs les uns sous les autres */
}

/* Chaque subtab prend une taille automatique et est espacé avec marginBottom */
.languages-subtab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Ajoute de l'espace entre les subtabs */
}

/* Style des images */
.languages-subtab-pic img {
  width: 400px;
  margin-bottom: 0;
  padding: 0;
}

/* Style de la description */
.languages-subtab-desc {
  color: white;
  font-size: 22px;
  text-align: center;
}

@media (max-width: 1024px) {
  .languages-tab {
    padding: 30px;
  }
  .languages-title {
    font-size: 60px;
  }
  .languages-subtab-pic img {
    width: 450px;
    margin-bottom: 60px;
  }
  .languages-subtab-desc {
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .languages-tab {
    padding: 20px;
  }
  .languages-title {
    font-size: 50px;
  }
  .languages-subtab-pic img {
    width: 300px;
  }
  .languages-subtab-desc {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .languages-tab {
    padding: 15px;
  }
  .languages-title {
    font-size: 35px;
  }
  .languages-subtab-pic img {
    width: 250px;
    margin-bottom: 40px;
  }
  .languages-subtab-desc {
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
